<!DOCTYPE html>
<html lang="vi"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liên Hệ</title>
    <link rel="stylesheet" href="contactStyle.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>

    <section class="contact-container">
        <div class="contact-info">
            <h3 class="section-title"><span>Liên Hệ</span> <br> Kết Nối Với Chúng Tôi</h3>
            <div class="info-box">
                <div class="info-item">
                    <i class="fas fa-user-tie"></i>
                    <div>
                        <h4>Gọi Cho Chúng Tôi</h4>
                        <p><a href="#">SDT</a> (Hỗ Trợ)</p>
                    </div>
                </div>
                <div class="info-item">
                    <i class="fas fa-envelope"></i>
                    <div>
                        <h4>Gửi Email</h4>
                        <p><a href="#">...@gmail.com</a></p>
                    </div>
                </div>
                <div class="info-item">
                    <i class="fas fa-map-marker-alt"></i>
                    <div>
                        <h4>Đến Thăm Chúng Tôi</h4>
                        <p>Cần Thơ</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-form">
            <h3 class="section-title">Để Lại Lời Nhắn</h3>
            <form>
                <div class="form-group">
                    <input type="text" placeholder="Tên Của Bạn" required>
                    <input type="email" placeholder="Email Của Bạn" required>
                </div>
                <div class="form-group">
                    <select>
                        <option value="">Giới Tính</option>
                        <option value="male">Nam</option>
                        <option value="female">Nữ</option>
                    </select>
                    <input type="tel" placeholder="Số Điện Thoại">
                </div>
                <input type="text" placeholder="Địa Chỉ">
                <textarea placeholder="Lời Nhắn" rows="4"></textarea>
                <button type="submit">Gửi Lời Nhắn</button>
            </form>
        </div>
    </section>

</body>
</html>
